*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    flex-direction:column;
    background-color:red;
}
.heading
{

    flex-grow:1;
    background-color:aqua;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* middle body container */
.container
{
    display:flex;
    flex-grow:6;
    background-color:green;
    gap:20px;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    /* justify-content:flex-end; */
    /* flex:1 1 auto; */
}
.toolbar
{
    display:flex;
    flex-direction:column;
    gap:10px;
    background-color: brown;
}
.grid
{
    background-color:purple;
    border-left:1px solid black;
    border-bottom: 1px solid black;
    /* border:2px solid black; */
    height:601px;
    width:601px;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
.boxes
{
    background-color:pink;
    height:69px;
    width:69px;
    border-top:1px solid black;
    border-right:1px solid black;
}
.newClass
{
    /* for toggling grid lines */
    border-top:0px solid black;
    border-right:0px solid black;
}